@model IEnumerable<Tanimtim.WebUI.Models.Entities.Kategoriler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Ekle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Guncelle", new { id=item.Id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<script>
    function Delete(id) {
        var kontrol = confirm(id + " nolu kaydı silmek istediginize emin misiniz");
        if (kontrol == true) {
            var data = { Id: id };
            $.ajax({
                url: "/Kategoriler/Delete",
                type: "Post",
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function (e) {
                    if (e == true) {
                        window.location.reload();
                    }
                }

            });
        }
    }
</script>